

body{
  width: 350px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.btn-options{
  width: 80px;
  height: 80px;
  background: linear-gradient(-45deg, #eeeeee, #ffbebf);
}

.btn-options:hover{
  width: 80px;
  height: 80px;
  background: linear-gradient(-45deg, #E34246, #de787a);
}

.hidden{
  display: none !important;
}

.ct {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider {
  white-space: nowrap;
  transition: transform 0.5s ease;
  width: 100%;
  overflow: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.active{
  background-color: white !important; 
  color: black !important;
}

.arrow-slider > img{
  width: 35px;
}

.arrow-slider {
  z-index: 99;
}

.item {
  display: inline-block;
  width: 40px;
  height: 40px; 
  background-color: black;
  color: white;
  margin: 0 2px;
}

